# $OpenBSD: ssh_config,v 1.33 2017/05/07 23:12:57 djm Exp $
#Host *
#   SendEnv LANG LC_*
#   ForwardX11 no
#   PasswordAuthentication yes
#   GSSAPIAuthentication yes
#   GSSAPIDelegateCredentials yes
#   XAuthLocation /opt/X11/bin/xauth
#   Port 22

Host vogsphere.42.fr, vogsphere-exam.42.fr, vogsphere.wethinkcode.co.za, vogsphere-exam.wethinkcode.co.za
   SendEnv LANG LC_*
   StrictHostKeyChecking no
   GSSAPIAuthentication yes
   GSSAPIDelegateCredentials yes
   PasswordAuthentication yes
